

/* button{
    background-color: #212529;
    color: rgb(231, 231, 14);
    font-size: 2rem;
    padding: 0;
    border: none;
}
button:hover, button:active{
    border: none;
    color: rgb(225, 170, 66);

} */
.iconoCarro{
    background-color: #212529;
    color: rgb(231, 231, 14);
    font-size: 2rem;
    padding: 0;
    border: none;
}
.iconoCarro:hover, .iconoCarro:active{
    border: none;
    color: rgb(225, 170, 66);

}
.numerito, .monto{
    position: relative;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 1;
    font-family: Lato,sans-serif;
    color: rgb(255, 123, 0);
}
.numerito{
    top: -3rem;
    right: -3rem;
    height: 1.5rem;
    width: 2rem;

    border-radius: 100%;
    background: #495867;
}
.monto{
    top: -1rem;
}


