#contenedor-productos, .contenedor-carrito , .contenedor-menu{
    background-color: gray;
    padding: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  
  #contenedor-productos{
    background-color: grey;
  }



#contenedor-productos, .contenedor-carrito , .contenedor-menu{
    background-color: gray;
    padding: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  
  #contenedor-productos{
    background-color: slateblue;
  }

.carrito-productos {
  display: flex;
  flex-direction: column-reverse;
  gap: 1px;
}

.carrito-producto,
.producto-almacenado {
  background-color: gray;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
}

.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
}
.carrito-producto-imagen:hover {
  transform: scale(1.25);
}

.carrito-producto small {
  font-size: 0.75rem;
}

.carrito-producto-cantidad,
.carrito-producto-precio,
.carrito-producto-subtotal,
.carrito-producto-stock {
  display: grid;
  justify-items: center;
}

.carrito-producto-cantidad-input {
  max-width: 3.5rem;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  background: white;
  padding: 5px;
  text-align: right;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: red;
  cursor: pointer;
  font-size: 1.8rem;
  transition: transform 0.2s ease-in-out;
}

.carrito-producto-eliminar:hover {
  transform: scale(1.75);
}

.carrito-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrito-acciones-vaciar,
.carrito-footer-cantidad,
.carrito-footer-total,
.carrito-acciones-comprar {
  border: 0;
  background-color: gray;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 0;
}

.carrito-acciones-vaciar {
  border-bottom-left-radius: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.carrito-acciones-vaciar:hover {
  background-color: red;
  color: gray;
}

.carrito-footer-der,
.carrito-footer-izq {
  display: flex;
}

.carrito-footer-cantidad,
.carrito-footer-total {
  display: flex;
  gap: 0.5rem;
  cursor: unset;
}

.carrito-acciones-comprar {
  background-color: black;
  color: white;
  border-bottom-right-radius: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.carrito-acciones-comprar:hover {
  background-color: green;
}

.disabled {
  display: none;
}

.noHayMas {
  background-color: gray;
}

.stock-cero {
  color: red;
}
