.checkout{
    margin-top: 10rem;
    color: azure;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.formFields{
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos horizontalmente */
    justify-content: center; /* Alinea los elementos verticalmente */
    width: 100%;
}
.formFields input{
    width: 30rem;
}
.formErrorMsg{
    color: red;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.submit{
    margin-top: .5rem;
}