.navbar-light .navbar-nav .nav-link ,a{
    color: rgb(255, 225, 0);
    text-decoration: none;
    padding: .5rem;
    font-size: 1.5rem;
}

a.active{
    color: orange;

}

.navbar-light:hover .navbar-nav:hover .nav-link:hover , a:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link{
    color: rgb(109, 109, 64);
}

.navbar{
  background-color: #242424;

}

.nav-link{
    padding: 0;
}

